body {
    background-color: beige;
}
h1 {
    font-size:xx-large;
    background-color: antiquewhite;
    text-align: center;
    margin-top: 10px;

    border-bottom: 5px;
    font-family: sans-serif;
}

text-inline {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:large;
}

.fotoprincipal {
    width: 1058px;
    height: 380px;
    display: flex;

}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    text-align: center;
}
.curiosidades {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:large;
}

.fotosecundaria {
    display: flex;
    justify-content:right;
    margin-top: 10px;
    width: 2000;
    height: 380;
}

footer {
    background-color: rgb(196, 172, 172);
    font-style: normal;
    color: rgb(14, 124, 124);
    font-size: large;
}